<!-- Esto lo agregamos despues, tiene login con google, github, y un Olvidaste tu contraseña -->


  <!-- Links para resetear contraseña y registrarse -->
  <!-- <p class="auth-links">
    <a href="{% url 'account_reset_password' %}">¿Olvidaste tu contraseña?</a><br>
    ¿No tenés cuenta?
    <a href="{% url 'account_signup' %}">Registrate</a>
  </p> -->

  <!-- Botones sociales -->
  <!-- <h3>O ingresa con</h3>
  <div class="social-login">
    <a href="{% provider_login_url 'google' %}" role="button" class="btn-social">
      <i class="fab fa-google"></i>
    </a>
    <a href="{% provider_login_url 'github' %}" role="button" class="btn-social">
      <i class="fab fa-github"></i>
    </a>  -->