{% extends 'users/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="display-4">Bienvenido a El Mercadito 🛒</h1>
        <p class="lead">Tu plataforma para comprar y vender productos locales.</p>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
  Menú lateral
</button>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Menú</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Si no cerras esto, no vas a poder seguir bajando.
    </div>
  </div>
</div>
        <a href="{% url 'signup' %}" class="btn btn-primary">Registrarse</a>
        <a href="{% url 'login' %}" class="btn btn-outline-light">Ingresar</a>
    </div>
{% endblock %}

