{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load socialaccount %}
{% block content %}

<section style="padding: 20px 20px; background-color: #f8f9fa; color: #000000;">

  
  <div style="text-align: right; margin-top: 30px;">
    <a href="{% url 'home' %}" class="btn btn-outline-success rounded-pill">← Volver al inicio</a>
  </div>

  <div style="max-width: 800px; margin: auto;">
    <h2 style="text-align: center;">Iniciá sesión</h2>
    <hr style="width: 50%; margin: 10px auto 10px;">
    
    <div class="container mt-3">
      <div class="row mb-4">
        <div class="col text-center">
      
        <!-- Campos de inicio de sesión -->
        <form method="post">
          {% csrf_token %}
            <div class="field">
                <label for="username">Nombre de usuario</label>
                {% render_field form.username class="input-field" %}
            </div>
            <div class="field">
                <label for="password">Contraseña</label>
                {% render_field form.password class="input-field" %}
            </div>
            <div>

              <!-- Links para resetear contraseña y registrarse -->
              <p class="auth-links">
                <a href="{% url 'account_reset_password' %}">¿Olvidaste tu contraseña?</a><br>
                ¿No tenés cuenta?
                <a href="{% url 'signup' %}">Registrate</a>
              </p>
            </div>
            <button id="submit-btn" type="submit" >Ingresar</button>
        </form>

        <!-- Botones sociales -->
        <hr style="width: 50%; margin: 10px auto 10px;">
        <h3>Ó</h3>
        <div class="social-login">
          <a href="{% provider_login_url 'google' %}" role="button" class="btn-social">
            <i class="fab fa-google"></i>
          </a>
          <a class="btn btn-success text-white" type="button" href="{% provider_login_url 'google' %}" role="button"">Ingresá con Google
            <img src="{% static 'img/google.svg' %}" alt="Google">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}