{% extends "base.html" %}

{% block content %}
<h2 style="margin: 10px 0px 10px;">Eliminar producto</h2>
<hr style="width: 30%; margin: 10px 0px 10px;"> 
<p>¿Seguro que querés eliminar <strong>"{{ product.name }}"</strong> ? <br> Esta acción no se puede deshacer.</p>
<form method="post">
  {% csrf_token %}
  <a type="submit" class="btn btn-outline-success">Sí, eliminar</a>
  <a type="button" href="{% url 'products:product_list' %}" class="btn btn-outline-danger">Cancelar</a>
</form>
{% endblock %}